/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    /* font-family: 'Titillium Web', sans-serif; */
    font-size: 62.5%;
}

h1, h2, h3, h4, h5 {
    /* font-size: 18px; */
    letter-spacing: 1px;
    margin-bottom: 15px;
    font-family: 'Comfortaa', cursive;

}

h1 {
    font-size: 4rem;
    display: block;
    /* font-size: 2em; */
    /* margin-block-start: 0.67em; */
    /* margin-block-end: 0.67em; */
    /* margin-inline-start: 0px; */
    /* margin-inline-end: 0px; */
    font-weight: bold;
  }
  
h2 {
    font-size: 3.2rem;
    padding-bottom: 10px;

    display: block;
    /* font-size: 1.5em; */
    /* margin-block-start: 0.83em; */
    /* margin-block-end: 0.83em; */
    /* margin-inline-start: 0px; */
    /* margin-inline-end: 0px; */
    font-weight: bold;
  }
  
h3 {
    font-size: 2.8rem;
    padding-bottom: 10px;
  }
  
h4 {
    font-size: 2.5rem;
    padding-bottom: 10px;
}
  
p, div, footer {
    line-height: 1.5;
    font-size: 1.6rem;
    /* padding-bottom: 10px; */
}

strong, b {
    font-weight: bold;
}

body {
    /* background-color: #d9d8e8; */
    background-color: rgba(10, 191, 188, 0.5);
}
.container {
    max-width: 880px;
    margin: 0 auto;
    /* box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2), 0px 0px 5px 0px rgba(0, 0, 0, 0.14), 0px 0px 10px 0px rgba(0, 0, 0, 0.12); */
        
}

header {
    /* margin: 20% 0; */
    text-align: center;
    /* background-image: linear-gradient(45deg, #4fa49a, #4361c2); */
    /* background-image: linear-gradient(45deg, #FC466B, #3F5EFB); */
    /* background-image: linear-gradient(75deg, #E5E5BE, #003973); */
    background: #0ABFBC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0ABFBC, #FC354C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    margin: 0 0 10px 0;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2), 0px 0px 5px 0px rgba(0, 0, 0, 0.14), 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
}

.instructions {
    background-color: rgb(207, 248, 247);
    padding: 5% 3%;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2), 0px 0px 5px 0px rgba(0, 0, 0, 0.14), 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
    
}

.psalm {
    /* border-top: 1px solid rgb(5, 75, 74);; */
    /* background-color: white; */
    background-color: rgb(207, 248, 247);
    padding: 5% 3%;
    color: rgb(5, 75, 74);
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2), 0px 0px 5px 0px rgba(0, 0, 0, 0.14), 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
    
}

@media (max-width: 500px) {
    .instructions, .psalm {
        padding: 5% 7%;
    }
}

footer {
    /* background-image: linear-gradient(45deg, #4fa49a, #4361c2); */
    background: #0ABFBC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0ABFBC, #FC354C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
    padding: 2% 0;
    display: flex;
    align-items: center;
    justify-content: center;

    /* margin: 0 0 10px 0; */
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2), 0px 0px 5px 0px rgba(0, 0, 0, 0.14), 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
}
}